<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Чат</title>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
{% block head %}
{% endblock head %}

</head>
<body>
{% block main %}
{% endblock %}
</body>
</html>