{% extends "base.html" %}

{% block head %}
    <meta http-equiv="refresh" content="5;">
{% endblock head %}
{% block main %}
    <div class="pure-g">
        <div class="pure-u-1-5"></div>
        <div class="pure-u-3-5">
            <form class="pure-form" method="post" action=".">
                {% csrf_token %}
                <fieldset>
                    <input id="command" type="text" placeholder="Комманда" name="command">
                    <button type="submit" class="pure-button pure-button-primary">Отправить</button>
                </fieldset>
            </form>

        </div>
        <div class="pure-u-1-5"></div>
    </div>

    <div class="pure-g">
        <div class="pure-u-1">
            {% for cmd in chat %}
                {{ cmd.dt_start|date:"d.m.Y H:i:s" }} |
                {{ cmd.nick }} |
                {{ cmd.command }} |
                {{ cmd.result }} |
                {% if cmd.is_error %}
                    {{ cmd.error }}
                {% endif %}
                <br />
            {% endfor %}
        </div>
    </div>


{% endblock %}
