{% extends "base.html" %}
{% block main %}
    <div class="pure-g" style="padding-top: 150px">
        <div class="pure-u-1-3"></div>
        <div class="pure-u-1-3">
            <form class="pure-form" method="post" action=".">
                {% csrf_token %}
                <fieldset>
                    <input id="nick" type="text" placeholder="Ник" name="nick">
                    <button type="submit" class="pure-button pure-button-primary">Войти</button>
                </fieldset>
            </form>
        </div>
        <div class="pure-u-1-3"></div>
    </div>

{% endblock %}
